header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
main {
    text-align: center;
    margin: 0 auto;
    width: 400px;
    display: block;
}
img {
    width: 100%;
    margin: 20px auto;
    animation: fade 5s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}