* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #424530;
}

header {
  padding: .6rem;
  border-bottom: 1px solid #d56b36;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 50px auto 48px;
}

header h1 {
  margin: 0;
  color:#d56b36;
  font-size: 1.4rem;
  padding-top: .5rem;
}

header img {
  width: 60px;
}

/*Hamburger Button-------------------*/
#menu {
  background: none;
  border: none;
  color: #E09132;
  font-size: 1.5rem;
  width: 50px;
  height: 50px;
  text-align: center;
  border: 1px solid rgba(0,0,0,0.5);
  padding-bottom: 5px;
}

nav ul {
  margin: 0;
  padding: 0;
  display: none;
  list-style-type: none;
  z-index: 99;
}

nav ul.open {
  display: block;
  position: absolute;
  top: 50px;
  right: 0;
  width: 150px;
  background-color: #f5a434;
  margin: 0;
}
  
nav ul li a {
  display: block;
  color: black;
  text-decoration: none;
  padding: .75rem;
}

nav ul li.active a {
  font-weight: 600;
}

nav ul li:hover a {
  background-color: #d56b36;
  color: white;
}

/*Titles--------------------*/
main h1 {
  color:#015f72;
  margin-left: 2vw;
}
main h2 {
  color:#015f72;
  margin-left: .5rem 2vw;
}
main h3 {
  color: #015f72;
  margin-left: .5rem 2vw;
}
main p {
  color:#333;
  margin-left: .5rem 2vw;
  
}
  
/*Hero image----------------*/
div.hero {
  width: 100%;
  position: relative;
}

div.hero img {
  width: 100%;
}

div.hero a {
  display: block;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: .5rem 1rem;
  background-color: #e8630a;
  color: #eee;
  text-decoration: none;
  font-weight: 600;
  border-radius: 10px;
}

div.hero a:hover {
  font-size: 120%;
}
  
/* Cards---------------------*/
div.cards{
  display: grid; 
  grid-template-columns: 1fr;
  padding: 1rem 2vw;
}

div.cards section {
  background-color: #fcfcfc;
  border: solid 1px #256a77;
  width: 100%;
  padding: 1rem 2vw;
}

div.cards section h2{
  margin-top: 0;
}

/*Discover----------------------*/
section.gallery figure {
  margin: 2rem 2vw;
}

section.gallery figcaption {
  text-align: center;
  color: #666;
  font-weight: 600;;
}

section.gallery img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

/*Directory Buttons----------------------*/
div#buttons {
  width: 100%; 
  text-align: center;
}

div#buttons button.active {
  background-color: #d56b36;
}

div#buttons button {
  margin: 0 1rem; 
  padding: .7rem 1rem;
  border-radius: 10px;
  border: 1px solid #d56b36;
}

div#members {
  margin: 0 2vw;
}

/*Grid----------------------------*/
div.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

div.grid section {
  text-align: center;
  margin: .75rem 0;
  border: solid 1px #d56b36;
  border-radius: 10px;
  overflow: hidden;
}

div.grid img:first-child {
  width: 50%;
}

div.grid h3 {
  margin: .5rem;
  font-size: 2rem;
  margin-top: 0;
}

div.grid p {
  margin: 1rem;
  margin-top: 0;
  font-size: 1.2rem;
  font-weight: 400;
}

div.grid img {
  margin-bottom: 1rem;
}

div.list section {
  display: grid;
  grid-template-columns: 1rem auto 1rem 1rem 16px;
  align-items: center;
  margin: .5rem 0;
  border: solid 1px #f5a434;
  border-radius: 10px;
  overflow: hidden;
}

div.list img:first-child {
  display: none;
}

/*Form---------------------------*/
ul {
  list-style-position: inside;
  padding-left: 70px;
}

form {
  margin: 1rem 2vw;
}
form label, 
form textarea {
  display: block;
  margin-bottom: 1rem;
}

textarea{
  box-shadow: 3px 3px 1px 1px #d56b36;
  border-radius: 4px;
  width: 300px;
}

form fieldset {
  margin-bottom: 2rem; 
  width: 50%;
  box-shadow: 3px 3px 1px 1px #d56b36;
  border-radius: 4px;
}

form fieldset label {
  margin: 1rem 0;
}

form input[type='text'],
form input[type='email'],
form input[type='tel'] {
  display: block;
  width: 300px;
  border-radius: 4px;
  border: 1.5px solid #015f72;
}

form fieldset legend {
  width: auto;
  color: #015f72;
}

form input:valid {
  border-left: solid rgb(57, 163, 57) 4px;
}

form input:invalid {
  border-left: solid red 4px;
}

form input[type='submit'] {
  width: 300px;
  border: solid #333 1px;
  padding: 1rem 0;
  border-radius: 6px;
  font-weight: 600;
  background-color: #fbb040;
}

.box {
  width: auto;
  height: 70%;
  border: 2px solid #fffcfc;
  border-radius: 4px;
  box-shadow: 3px 3px 1px 1px #fbb040;
  padding: 20px 15px;
  background-image: linear-gradient(150deg, #EAFAF1 , #fbf8e1 30%,#ffffff );
}


/*Thankyou----------------------*/

main p{
}

/*Footer-----------------------*/
footer section {
  padding: 1rem 2vw;
}

footer section a {
  color: #5f266f;
}

footer img{
  width: 60px;
}

footer p {
  margin: .1rem 0;
}

footer a {
  color:#015f72;
}

footer section:nth-child(1) {
  display: grid;
  grid-template-columns: 70px auto;
}

footer {
  background-color: #f2f2f2;
  color:#0b4972;
  font-weight: 400;
}




