body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #424530;
}

header {
    border-bottom: 2px solid #E09132;
}

h1 {
    color:#E09132;
    text-align: center;
}

h2{
    color: #003366;
}

footer {
    text-align: center;
    color:#E09132;
}