:root {
  --validColor: rgb(51, 152, 51);
  --invalidColor: red;
  --background: #6bb2df;
}

form label {
  display: block;
  margin: .5rem 16px;
}

form input[type="text"],
form input[type="password"],
form input[type="email"]
{
  display: block;
  border: 1px solid #b7a8a8;
  border-left-width: 6px;
  padding: 4px;
  border-radius: 3px;
}

form input[type="range"]{
  display: block;
}

input:required:valid {
  border-left-color: var(--validColor)
}

input:required:invalid {
  border-left-color: var(--invalidColor);
}

form input[type="submit"] {
  margin: .5rem 16px;
  background-color: var(--background);
  border-radius: 4px;
  border: none;
  padding: 8px 1rem;
}

#feedback {
  background-color: var(--invalidColor);
  color: white;
  line-height: 200%;
  text-align: center;
  margin: .8rem 16px;
  width: auto;
}

main p {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #182b37;
  padding: 30px;
}